.browserview {
  margin-top: 32px;
  min-height: calc(100vh - 32px);
  overflow: hidden;
  display: block;
  position: relative;
}

.tophead {
  /* position: absolute;
    top: 0; */
  width: 100%;
  padding: 0 !important;
}

.bottomfoot {
  position: absolute;
  bottom: 0;
  width: 100%;
}